JWT_SECRET_KEY=
API_KEY=

PG_NAME=
PG_URL=
PG_USER=
PG_PASSWORD=
PG_PORT=
PG_DB=

REDIS_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DATABASE=

ELASTIC_HOST=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTIC_HTTP_PORT=
ELASTIC_HTTPS_PORT=

GRAFANA_PASSWORD=